/* 
Color Pallete
#C34126
#173F88
#0A75E1
#3C95D5
#F0D87A 
*/

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Avenir LT Std', sans-serif;
}

.nav-top {
  display: flex;
  height: 75px;
  align-content: flex-start;
  border-bottom: 1px solid black;
  background: #0066c0
}

.nav-top > div {
    margin: 20px;
}

.product-search {
    width: 500px;
    border-radius: 5px;
}

.search-button {
    border-radius: 5px
}

.nav-top-left {
    width: 20%;
    font-size: 20px;
}

.nav-top-left * {
    color: white;
}

.nav-top-mid {
    width: 50%;
    font-size: 20px;
}

.nav-top-right {
    width: 20%;
    font-size: 20px;
    text-align: right;
}

.nav-top-right * {
    color: white;
}

.main {
    width: 100%;
    display: flex;
}

.sidebar {
    width: 20%;
    height: 200vh;
    border-right: 1px solid black;
    padding: 15px
}

.sidebar-div {
    margin: 0px 0px 40px 10px;

}

.sidebar-div * {
    font-size: 14px;
    margin: 4px;
}

.sidebar-header {
    font-weight: 900
}

.right {
    width: 80%;
    height: 100vh;
    padding: 10px
}

.categories {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.category-link {
    display: 'block';
    height: '100%';
    color: inherit;
}

.button-category {
    font-size: 12px;
    width: 15%;
    height: 50px;
    margin: 15px;
}

.products {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.product {
    width: 20%;
    text-align: center;
    margin-bottom: 40px;
}

.product-name {
    text-transform: capitalize;   
  }

.product-picture {
    width: 160px; 
    height: 125px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fallback-pic {
    background-image: url(http://cdn.onlinewebfonts.com/svg/img_521934.png);
    display: inline-block; 
    width: 160px; 
    height: 125px;
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
}