// Imports
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

// Helpers Style
@import './helpers/colors.scss';
@import './helpers/mixins.scss';

// Components Style
@import './components/PageHome';
@import './components/PageProducts';
@import './components/PageAccount';

// Other Components Style
@import './components/Header';
@import './components/CategoryNav';
@import './components/BuyButton';
@import './components/ProductList';
@import './components/Product';

// Global styling
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

body, html {
    padding: 0;
    margin: 0;
}


// App styling
.App {
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: $background;
}



// Main 
.App-content {
    display: flex;
    padding: 20px;
    flex: 1;

}


// Footer
.App-footer {
    width: 100%;

    background-color: $dark-grey;
    padding: 20px;
    color: white;
    display: flex;

    a { 
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid transparentize(white, 0.5); 
    }

    .right {
        margin-left: auto;
        a {margin-left: 12px;}
    }

}